* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 16px;
    font-weight: bold;

}

window {
    margin: 0px;
    border: none;
    background-color: #24283b;
    font-size: 12px;
}

#input {
    margin: 4px;
    border: 1px solid #24283b;
    color: #c0caf5;
    background-color: #24283b;
}

#input image {
	color: #c0caf5;
}

#inner-box {
    margin: 4px;
    border: 1px;
    background-color: #24283b;
}

#outer-box {
    margin: 4px;
    border: none;
    background-color: #24283b;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 4px;
    border: none;
    color: #c0caf5;
} 

#entry:selected {
	background-color: #414868;
	font-weight: normal;
}

#text:selected {
	background-color: #414868;
	font-weight: normal;
}
